* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #131720;
}

nav {
  display: flex;
  overflow: hidden;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.search input[type="search"] {
  background-color: #151f30;
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  color: white;
  padding-left: 1rem;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.card {
  background-color: #151f30;
  border-radius: 1rem;
  text-align: center;
  width: 20vw;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.card h3 {
  color: white;
  margin-top: 1rem;
}
